html, body {
	width:100%;
	height:100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 92%;
	font-weight:400;
	line-height:160%;
	color:#000;
	text-align: left;
	
}

a:link, a:visited {
	color:#333;
}

a:hover { 
	color:#03F;
}

em {
	font-style:normal;
	-webkit-transition: all .1s ease-in .2s;
    -moz-transition: all .1s ease-in .2s;
    -o-transition: all .1s ease-in .2s;
    -ms-transition: all .1s ease-in .2s;
    transition: all .1s ease-in .2s;
	display:inline-block;
	border-bottom: 1px dashed #666;
}

em:hover, em.hover {
	font-size:3em;
	cursor:default;
	line-height:120%;
	border-bottom: none;
}

a.ico-external {
	background-position:right 5px;
}

h1, h2, h3, h4, h5, h5, header nav ul li {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:left;
	text-rendering: optimizeLegibility;
}

.cta {
	position: relative;
	display:block;
	width:50%;
	font-size:1em;
	line-height:150%;
	color:#336699;
	padding:20px;
	margin:20px auto 0 auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 1px 2px rgba(155,155,155,.8);
	-webkit-box-shadow: 0 1px 2px rgba(155,155,155,.8);
	-moz-box-shadow: 0 1px 2px rgba(155,155,155,.8);
	background-color:rgba(225,225,225,.5);
	text-decoration:none;
	text-align:center;
}

.cta:after { 
	content: "";
	position: absolute;
	bottom: -15px;
	left: 124px;
	border-top: 15px solid transparent;
	border-left: 0 solid transparent;
	border-right: 15px solid transparent;
	border-left-color:rgba(200,200,200,.8);
	border-top-color:rgba(200,200,200,.8);
}

input {
	margin:20px 0;
	padding:5px 10px;
	border: 1px solid #999;
	font-size:1.5em;
}

input[type=text] {
	border-radius:2px;
}

input[type=submit] {
	color:#fff;
	background-color:#900;
	border-radius:5px;

}

label { }

.ribbon {
	z-index:999;
	overflow:hidden;
}

#main[data-view=presentation] {
	position:relative;
	width:100%;
	height:100%;
}

#slides {
	height:100%;
	
}

#slides img {
	display:block;
	opacity: 1;
}

#slides img.hidden {
	display:block;
	opacity: 0;
	-webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
    transition: all 2s ease-in;
}

#slides img.hidden:hover {
	opacity:1;
}

#main .cta h1, #main .cta h2 {
	margin:0 0 20px 0;
	padding:0;
	color:#000;
}

#main .cta ul { 
	list-style-type:none;
	margin:0;
	padding:0;
}

#main .cta li a {
	display:block;
	padding:20px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left:5px solid #ddd;
	text-align:left;
}

#main .cta li a:hover {
	background-color:#eee;
	color:#333;
	border-top: 1px solid #5fb336;
	border-bottom: 1px solid #5fb336;
	border-left:5px solid #5fb336;
}

p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 160%;
	margin: 0 0 10px 0;
	color: #2c2c2c;
	font-weight: 200;
	letter-spacing: 1px;
}

#main li {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 160%;
	margin: 0;
	color: #2c2c2c;
	font-weight: 200;
	letter-spacing: 1px;
}

/*#main a {
	font-size:1em;
}*/

#main[data-view="home"] h1 {
	text-align:center;
	font-size:4em;
	margin:20px auto;
}

#main[data-view="home"] p {
	font-size:1em;
}

/* header styles */

header { 
	background-color:rgba(240, 240, 240, .7);
	padding:0 20px;
}

header .social a.logo {
	background-image:url(../img/logo.png);
	height:32px;
	width:32px;
	margin-right:16px;
	background-repeat:no-repeat;
	background-size:contain;
	line-height: 130%;
	opacity: 0.6;
	-webkit-opacity: 0.6;
	-moz-opacity: 0.6;
}

header .social a.logo:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

header.top h1 {
	margin:20px 0 5px 0;
	padding:0;
}

header.top h1 a, header h1 a:link, header.top h1 a:visited {
	text-decoration:none;
	color:#000;
}

header.top {
	position:fixed;
	width:100%;
	height: 75px;
	top:0;
	z-index:99;
}

header.top h1 {
	display:inline-block;
}

header.top nav {
	float:right;
	margin-top:10px;
}

header.top nav ul li {
	float:left;
	padding:10px 5px;
}

header.top nav li a:link {
	display:block;
	padding:5px 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-decoration:none;
}

header.top nav li a:link, header.top nav li a:visited { 
	background-color:rgba(255,255,255,0.9); 
	color:#336699; 
}

header.top nav li a:hover, header.top nav li.active a { 
	background-color:rgba(0,0,0,0.3); 
	color:#fff; 
}

header.common {
	height: 50px;
}

/* share options */
header.common .social {
	float: left;
	width: 200px;
}

header.common .share {
	float: left;
	width: 360px;
	padding-top: 12px;
}

header.common .share div {
	float: left;
	width: 120px;
}


header a[data-service=home], header a[data-service=link] {
	display:inline-block;
	text-decoration:none;
	font-size:1.5em;
	margin:0 10px;
	color:#aaa;
}

header a[data-service=home]:hover, header a[data-service=link]:hover {
	color:#69c;
}

header .social li {
	display: inline-block;
}

header .social a {
	display:inline-block;
	text-decoration:none;
	font-size:2em;
	line-height:150%;
	margin:0 10px;
	color:#aaa;
	font-weight:400;
}

header .social a:hover {
	color:#69c;
}

header ul.social {
	margin:0 auto;
	list-style-type:none;
	padding:0;
}

header ul.social-links {
	display:block;
	text-align:center;
}

header ul.social-links li {
	display:inline-block;
	padding:0px;
	margin:0;
}

header ul.social-links li a {
	margin:0;
	padding:0;

}


/* page styles */

.page {
	position:relative;
	width:100%;
	height:100%;
	padding:20px;
	overflow:scroll;
	border-bottom:1px dashed #ccc;
}

/*.secondary {
	min-height:100%;
	height:auto;
	overflow-y:auto;
	overflow-x:hidden;
}*/

.page .page-content-wrapper {
	width:60%;
	max-width:800px;
	height:80%;
	margin:2% auto;
	overflow:auto;
	display:table;
}

.page .page-content {
	display:table-cell;
	
	margin: 0 auto;
	vertical-align:middle;
	/* text-align:center; */
}

.page .page-content h1 {
	font-size:2em;
}

.page .page-content h2 {
	font-size:1.8em;
}

.page .page-content p {
	/* text-align:center; */
}


.page-content-wrapper h3, .page-content-wrapper p, .page-content-wrapper li {
	margin:0 0 10px 0;
}

.page-content-wrapper cite {
	color:#333 !important;
	font-weight:200 !important;
}

.page-content-wrapper ul {
	margin:0 0 0 20px;
	padding:0 0 0 20px;
}

/* footer styles */

footer {
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;
	background-color:#fff;
	text-align:center;
	font-size:1.5em;
	line-height:160%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2c2c2c;
	font-weight: 200;
	letter-spacing: 1px;
}

#main[data-view="home"] footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

footer .content {
	width:400px;
	margin:0 auto;
	text-align:center;
}

footer p {
	text-align:center;
}

footer ul {
	margin:0 auto;
	list-style-type:none;
	padding:20px 0;
}

footer ul.social-links {
	display:block;
	text-align:center;
}

footer ul.social-links li {
	display:inline-block;
	height:70px;
	padding:10px;
	margin:0;
}

/* fonts */
@font-face {
	font-family: 'iconset';
	src:url('fonts/iconset/webfont.eot');
	src:url('fonts/iconset/webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconset/webfont.svg#iconset') format('svg'),
		url('fonts/iconset/webfont.woff') format('woff'),
		url('fonts/iconset/webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'iconset'; 
  	content: attr(data-icon);
  	speak: none; 
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
}

.ab { 
  	position: absolute;
}

.page-content-wrapper ul.social {
	position: relative;
	margin:0;
	padding:0;
}

.social a[data-service=twitter]:hover {
	color: #4099ff;
}

.social a[data-service=linkedin]:hover {
	color: #4875b4;
}

.social a[data-service=github]:hover {
	color: #666;
}

.social a[data-service=facebook]:hover {
	color: #3b5998;
}

.social a[data-service=itshow]:hover {
	color: #F00;
}

.social a[data-service=mail]:hover {
	color: #6F0;
}

.social a[data-service=link]:hover {
	color: #6F0;
}

.social a[data-service=home]:hover {
	color: #6F0;
}

/* colors */

.bg1 {
	background-color:#fff;
}

.bg2 {
	background:url(../img/steal.png) no-repeat;
	background-size:contain;
	background-position:top right;
	background-color:rgba(237, 19, 129, 0.5);
}

.bg3 {
	background:url(../img/meet.png) no-repeat;
	background-size:contain;
	background-position:center 70px;
	background-color:rgba(98, 186, 228, 0.5);
}

.bg4 {
	background:url(../img/collab.png) no-repeat;
	background-size:contain;
	background-position:center 70px;
	background-color:rgba(246, 155, 0, 0.5);
}


/* page specific styles */


@media screen and (max-width: 1024px) {

html, body {
	width:100%;
	height:100%;
}
}

@media screen and (max-width: 580px) {
	
html, body {
	width:100%;
	height:100%;
	font-size: 85%;
}

.cta {
	margin:20px auto;
	width:280px;
}

.ribbon {
	display:none;
}

header { 
	background-color:rgba(240, 240, 240, .7);
	padding:0 20px;
}
	
header h1 {
	float: left;
	padding: 10px 0 0 45px;
	margin:10px;
	height:40px;
	font-size:0em;
}

header.top {
	position:relative;
	width:100%;
	height:70px;
	top:0;
	z-index:99;
}

header.top nav {
	position:absolute;
	right:5px;
}

header.top nav ul li {
	float:left;
	padding:15px 2px;
}

header.top nav li a:link {
	display:block;
	padding:2px 5px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-decoration:none;
}

/* page styles */

.page {
	float:none;
	padding:20px;
}

.page .page-content-wrapper {
	width:100%;
	margin:10px auto;
}

.page .page-content {
	width:100%;
}
}